.header {
  height: 6rem;
  padding: 1rem;
  background-color: #fdceb3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  font-size: 2rem;
  padding-bottom: 0.6rem;
}
.header span {
  font-size: 1.6rem;
  font-weight: bolder;
}
.header img {
  transform: translateY(0.1rem);
}
.header__navbar {
  background-color: #fdceb3;
  position: fixed;
  width: 320px;
  left: 0;
  top: 0;
  z-index: 20;
  border-bottom: solid #ff3f3a 0.2rem;
}
.header__burger-menu {
  position: static;
  width: 100%;
}
.header__burger-menu--list {
  position: relative;
}

.blur-effect {
  filter: blur(0.6rem);
}

.call-courses {
  padding-top: 2rem;
  background-color: rgba(247, 94, 5, 0.3);
}
.call-courses__showreel {
  display: flex;
  flex-direction: row;
}
.call-courses__showreel span {
  align-self: center;
  height: 20%;
  font-weight: bold;
}
.call-courses__icon {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  width: 6rem;
  height: 6rem;
}
.call-courses__icon:hover, .call-courses__icon:active {
  background-image: url("../assets/Ellipse-large.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.call-courses__icon img {
  display: block;
  height: 60%;
  align-self: center;
}
.call-courses__main-text {
  font-weight: bold;
  font-size: 2rem;
  padding-left: 1.8rem;
  padding-right: 2.2rem;
}
.call-courses__btn-area {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.6rem 1rem 1.6rem;
}
.call-courses .call-courses__button {
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
}
.call-courses__btn-about {
  background-color: transparent;
  border: thin 3px;
  border-color: #FF3F3A;
  border-radius: 0.4rem;
  color: #FF3F3A;
  font-weight: bold;
}
.call-courses__btn-explore {
  background-color: #FF3F3A;
  border: solid 3px;
  border-color: #FF3F3A;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: bold;
}
.call-courses__btn-about:hover, .call-courses__btn-explore:hover {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.call-courses__btn-about:active, .call-courses__btn-explore:active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
  box-shadow: #FF3F3A;
}
.call-courses__btn-about:not(:disabled):not(.disabled):active, .call-courses__btn-explore:not(:disabled):not(.disabled):active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.call-courses__bg--vector-l-vertical {
  position: absolute;
  height: 4rem;
  top: 15%;
  left: 80%;
  transform: rotate(90deg);
}
.call-courses__bg--vector-l-vertical img {
  opacity: 0.8;
  height: 100%;
  transform: rotate(45deg);
}
.call-courses__bg--vector-l {
  position: absolute;
  height: 4rem;
  top: 15%;
  left: 3%;
  transform: rotate(-45deg);
}
.call-courses__bg--vector-l img {
  opacity: 0.8;
  height: 100%;
  transform: rotate(45deg);
}
.call-courses__bg--vector-half-moon {
  position: absolute;
  height: 0.8rem;
  left: 75%;
  top: 50%;
}
.call-courses__bg--vector-half-moon img {
  opacity: 0.3;
  height: 100%;
}

.illustration {
  background-color: rgba(247, 94, 5, 0.3);
  width: 100%;
  height: 30rem;
}
.illustration img {
  height: 100%;
  width: 100%;
}

.statistic {
  background-color: rgba(247, 94, 5, 0.3);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 18rem;
}
.statistic__text {
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  padding-top: 0.6rem;
  padding-bottom: 1.4rem;
  margin-bottom: 0;
  background-image: url(../assets/Ellipse.svg);
  background-repeat: no-repeat;
  background-size: 2%;
  background-position: center bottom;
}
.statistic__text--last {
  background-image: none;
}
.statistic__vector--dots {
  position: absolute;
  height: 20%;
  width: 20%;
  top: 150%;
  right: 20%;
}
.statistic__vector--dots img {
  opacity: 0.3;
  height: 100%;
}
.statistic__vector--half-moon {
  position: absolute;
  height: 5%;
  width: 5%;
  top: 140%;
  left: 10%;
}
.statistic__vector--half-moon img {
  opacity: 0.3;
  height: 100%;
  width: 100%;
  transform: rotate(135deg);
}
.statistic__vector--circles {
  position: absolute;
  height: 20%;
  width: 20%;
  top: 175%;
  left: 0%;
}
.statistic__vector--circles img {
  opacity: 0.8;
  height: 100%;
  width: 100%;
}

.about {
  margin-top: 2rem;
}
.about__text {
  padding-top: 1.8rem;
  padding-left: 2rem;
}
.about__title {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 0.6rem;
}
.about__subtitle {
  font-size: 2.6rem;
  font-weight: bolder;
}
.about__list {
  list-style-image: url("../assets/Vector check.svg");
  padding-top: 1rem;
}
.about__list li {
  padding-top: 0.4rem;
  padding-left: 0.4rem;
}
.about__button {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about__button:hover {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.about__button:active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
  box-shadow: #FF3F3A;
}
.about__button:not(:disabled):not(.disabled):active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.about__dots {
  position: absolute;
  height: 30%;
  top: 220%;
  left: 0%;
  transform: rotate(-45deg);
}
.about__dots img {
  opacity: 0.3;
  height: 100%;
  transform: rotate(45deg);
}
.about__o-vector {
  position: absolute;
  height: 30%;
  top: 260%;
  right: 0%;
  transform: rotate(-45deg);
}
.about__o-vector img {
  opacity: 0.2;
  height: 100%;
  transform: rotate(45deg);
}

.courses__title {
  padding-left: 2rem;
}
.courses__title h1 {
  font-size: 2.2rem;
  font-weight: bolder;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.courses__title h4 {
  font-size: 0.6rem;
  font-weight: bold;
}
.courses__title-button {
  border-color: #FF3F3A;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.courses__title-button:hover {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.courses__title-button:active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
  box-shadow: #FF3F3A;
}
.courses__title-button:not(:disabled):not(.disabled):active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.courses__carousel-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 0.6rem;
  box-shadow: 0.2rem 0.4rem rgba(136, 136, 136, 0.1);
}
.courses__carousel-item img {
  margin-bottom: 1rem;
}
.courses__carousel-item--course {
  margin-top: 0.6rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.courses__carousel-item--description {
  padding-top: 0.8rem;
}
.courses__carousel-item--price {
  color: #FF4242;
}
.courses__carousel-item--author {
  color: #787A80;
}
.courses__carousel-item--badge {
  display: inline-block;
  width: 40%;
  color: #fff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.courses__carousel-item--badge-mkt {
  background-color: #03CEA4;
}
.courses__carousel-item--badge-hr {
  background-color: #F89828;
}
.courses__carousel-item--badge-manag {
  background-color: #5A87FC;
}
.courses__carousel-item--badge-design {
  background-color: #F52F6E;
}

.benefits__title {
  padding-left: 2rem;
}
.benefits__title h1 {
  font-size: 2.2rem;
  font-weight: bolder;
}
.benefits__title h4 {
  font-size: 0.6rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.benefits__icons {
  margin-left: 0.2rem;
  margin-bottom: 2rem;
}
.benefits__icons span {
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
  text-align: center;
  vertical-align: middle;
}
.benefits__icons--highlighted {
  font-weight: bolder;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-color: #FF3F3A;
  transform: translateY(1.4rem);
}
.benefits__icons--highlighted:hover {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.benefits__icons--highlighted:active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
  box-shadow: #FF3F3A;
}
.benefits__icons--highlighted:not(:disabled):not(.disabled):active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.benefits__icons--highlighted img {
  transform: translateY(0.2rem);
  margin-right: 0.2rem;
}
.benefits__icons--normal {
  padding-top: 1rem;
  transform: translateY(1rem);
}
.benefits__icons--normal img {
  transform: translateY(0.2rem);
  margin-right: 0.2rem;
}
.benefits__text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.benefits__text h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.benefits__text p {
  padding-left: 0.6rem;
  line-height: 1.4rem;
}
.benefits__illustration {
  height: 100%;
}

.events {
  background-color: rgba(247, 94, 5, 0.3);
}
.events__title {
  padding-top: 2rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
}
.events__title h1 {
  font-size: 2.2rem;
  font-weight: bolder;
}
.events__title h2 {
  font-size: 0.6rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.events__item {
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.events__item:hover, .events__item:active {
  box-shadow: 0.2rem 0.4rem rgba(247, 94, 5, 0.3);
}
.events__item-date {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.5fr;
  align-items: flex-end;
  width: 100%;
  margin-top: 0.3rem;
  padding-left: 0.2rem;
  margin-bottom: 0.6rem;
}
.events__item-day {
  font-size: 2rem;
  margin-left: 0.4rem;
  font-weight: bolder;
  color: #FF3F3A;
}
.events__item-month {
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
}
.events__item-time {
  padding-right: 0.6rem;
  color: #787A80;
  display: inline-block;
  text-align: right;
}
.events__item-content {
  padding-top: 0.4rem;
  padding-left: 0.6rem;
}
.events__item-title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2rem;
}
.events__item-subtitle {
  color: #787A80;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.events__item-button {
  border-color: #FF3F3A;
  margin: 0.6rem 4rem;
}
.events__item-button:hover {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.events__item-button:active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
  box-shadow: #FF3F3A;
}
.events__item-button:not(:disabled):not(.disabled):active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.events__action {
  padding-bottom: 2rem;
  padding-left: 1rem;
}
.events__action-text {
  display: inline-block;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  font-weight: bolder;
}
.events__action-button {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.events__action-button:hover {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.events__action-button:active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
  box-shadow: #FF3F3A;
}
.events__action-button:not(:disabled):not(.disabled):active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.events__vector {
  position: absolute;
  height: 5rem;
  width: 5rem;
  right: 0%;
  top: 430%;
  transform: translateX(0.3rem);
}
.events__vector img {
  height: 100%;
  transform: rotate(180deg);
}

.certificate {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.certificate__content h1 {
  font-size: 2.2rem;
  font-weight: bolder;
}
.certificate__content h2 {
  font-size: 0.6rem;
  font-weight: bold;
}
.certificate__content-text {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.certificate__example {
  margin-top: 3rem;
}

.team {
  background-color: #F4F5F6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.team__title h1 {
  font-size: 2.2rem;
  font-weight: bolder;
}
.team__title h2 {
  font-size: 0.6rem;
  font-weight: bold;
}
.team__carousel {
  margin-top: 2rem;
  margin-left: 1rem;
}
.team__carousel-item {
  margin-bottom: 0.6rem;
}
.team__carousel-item--name {
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.team__carousel-item--job {
  display: inline-block;
  width: 100%;
  color: #787A80;
  text-align: center;
}
.team__half-moon-vector {
  position: absolute;
  transform: translateY(-1.6rem) translateX(-0.4rem);
  opacity: 0.6;
}
.team__half-moon-vector img {
  transform: rotate(135deg);
  width: 2rem;
  height: 2rem;
}
.team__dots-vector {
  position: absolute;
  transform: translateX(13rem) translateY(-2rem);
}
.team__dots-vector img {
  width: 50%;
  height: 50%;
}
.team__L-shapes-vector {
  position: absolute;
  top: 730%;
  left: 90%;
}
.team__L-shapes-vector img {
  width: 50%;
  height: 50%;
}

.testemonials {
  background-color: #F4F5F6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.testemonials__title h1 {
  font-size: 2.2rem;
  font-weight: bolder;
}
.testemonials__title h2 {
  font-size: 0.6rem;
  font-weight: bold;
}
.testemonials__carousel {
  margin-top: 2rem;
}
.testemonials__carousel-item {
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 1rem;
}
.testemonials__carousel-item--text {
  line-height: 1.2rem;
}
.testemonials__carousel-item-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}
.testemonials__carousel-item--student {
  display: flex;
  flex-direction: column;
  padding-top: 0.6rem;
}
.testemonials__carousel-item--name {
  display: inline-block;
  font-weight: bold;
}
.testemonials__carousel-item--position {
  color: #787A80;
}
.testemonials__circles-vector {
  position: absolute;
  opacity: 0.3;
  transform: translateY(-1.2rem) translateX(-1rem);
  width: 4rem;
  height: 4rem;
}
.testemonials__3-half-moon-vector {
  position: absolute;
  transform: translateX(10rem);
  width: 2rem;
  height: 2rem;
}
.testemonials__dots-vector {
  position: absolute;
  transform: translateX(-0.4rem);
  width: 4rem;
  height: 4rem;
}
.testemonials__circles-vector-2 {
  position: absolute;
  transform: translateX(15rem) translateY(-2rem) rotate(270deg);
  width: 4rem;
  height: 4rem;
}

.blog {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.blog__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog__title h1 {
  font-size: 2.2rem;
  font-weight: bolder;
}
.blog__title h2 {
  font-size: 0.6rem;
  font-weight: bold;
}
.blog__title-button {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
}
.blog__title-button:hover {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.blog__title-button:active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
  box-shadow: #FF3F3A;
}
.blog__title-button:not(:disabled):not(.disabled):active {
  background-color: #FF3F3A;
  border-color: #FF3F3A;
}
.blog__posts {
  margin-top: 1rem;
}
.blog__posts-item {
  margin-bottom: 2rem;
}
.blog__posts-item--details {
  color: #787A80;
}
.blog__posts-item--details strong {
  font-weight: bold;
}
.blog__posts-item--details span, .blog__posts-item--details strong {
  margin-right: 0.2rem;
}
.blog__posts-item--title {
  margin-top: 0.4rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.blog__posts-item--text {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.blog__posts-item--action {
  font-weight: bold;
}
.blog__badge {
  display: inline-block;
  position: absolute;
  padding-right: 1rem;
  transform: translateX(-17.8rem) translateY(0.4rem);
}
.blog__icon {
  height: 0.6rem;
}
.blog__icon-calendar, .blog__icon-watch {
  height: 0.8rem;
}

.subscribe {
  background-color: rgba(247, 94, 5, 0.3);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.subscribe__title {
  padding-top: 1rem;
}
.subscribe__title h1 {
  font-size: 2.2rem;
  font-weight: bolder;
}
.subscribe__title h2 {
  font-size: 0.6rem;
  font-weight: bold;
}
.subscribe__input {
  margin-top: 1.4rem;
  margin-bottom: 0.6rem;
}
.subscribe__button-area {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer {
  background-color: #1e212c;
  color: #787A80;
  padding-bottom: 0.4rem;
  padding-top: 2rem;
}
.footer__createx-area {
  display: inline-block;
}
.footer__createx-area h1 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bolder;
}
.footer__createx-area--text {
  padding-top: 0.4rem;
  line-height: 1.2rem;
}
.footer__social-medias {
  padding: 1.4rem 1rem;
  margin-bottom: 2rem;
  height: 2rem;
}
.footer__social-medias button {
  background-color: transparent;
  border-color: transparent;
  opacity: 0.5;
}
.footer__social-medias button:hover, .footer__social-medias button:active {
  opacity: 1;
}
.footer__routes-content {
  margin-top: 2rem;
  text-align: center;
}
.footer__routes-content h2 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.6rem;
}
.footer__routes-content li, .footer__routes-content p {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.footer__routes-content img {
  transform: translateY(0.2rem);
  padding-right: 0.2rem;
}
.footer__newsletter {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer__newsletter h2 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1.6rem;
}
.footer__newsletter-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-color: transparent;
  color: #fff;
}
.footer__newsletter-input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  border-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 3.2px;
}
.footer__newsletter-input-area {
  border-color: rgba(255, 255, 255, 0.5);
}
.footer__newsletter-button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-color: transparent;
  color: #fff;
}
.footer__newsletter-button:hover, .footer__newsletter-button:active {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  border-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 3.2px;
}
.footer__copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}
.footer__copyright img {
  height: 0.6rem;
  transform: translateY(0.1rem);
}
.footer__copyright-go-top {
  font-size: 1rem;
  color: #787A80;
  font-weight: bold;
  margin-top: 1.2rem;
}

body {
  width: 100%;
}

.inactive {
  display: none;
}

/*# sourceMappingURL=style.css.map */
