@use './var';

.benefits{
    
    &__title{

        padding-left: 2rem;

        h1{
            font-size: var.$main-title-size;
            font-weight: bolder;
        }
        
        h2{
            font-size: var.$main-subtitle-size;
            font-weight: bold;
            margin-bottom: 0.4rem;
        }
    }
        
    &__icons{

        margin-left: 0.2rem;
        margin-bottom: 2rem;

        span{
            font-size: 0.8rem;
            font-weight: bold;
            display: inline-block;
            margin-top: 1rem;
            text-align: center;
            vertical-align: middle;
        }
        
    }
    
    &__icons--highlighted{
        font-weight: bolder;

        padding-top: 0.6rem;
        padding-bottom: 0.6rem;

        border-color: var.$main-btn-color;
        
        transform: translateY(1.4rem);

        &:hover{
            background-color: var.$main-btn-color;   
            border-color: var.$main-btn-color;
        }

        &:active{
            background-color: var.$main-btn-color;   
            border-color: var.$main-btn-color;
            box-shadow: var.$main-btn-color;
        }

        &:not(:disabled):not(.disabled):active{
            background-color: var.$main-btn-color;   
            border-color: var.$main-btn-color;
        }
        
        img{
            transform: translateY(0.2rem);
            margin-right: 0.2rem;
        }
    }
    
    &__icons--normal{
        padding-top: 1rem;
        transform: translateY(1rem);

        img{
            transform: translateY(0.2rem);
            margin-right: 0.2rem;
        }
    }

    &__text{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.6rem;

        h3{
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 0.8rem;
        }

        p{
            line-height: 1.4rem;
        }
    }

    &__illustration{
        height: 100%;
    }
}

@media(min-width:360px){

    .benefits{
        margin-top: 3rem;
    }

    .benefits__text{
        p{
            line-height: 1.6rem;
        }
    }

    .benefits__title{
        h1{
            font-size: calc(1.2*var.$main-title-size);
        }

        h2{
            font-size: calc(1.5*var.$main-subtitle-size);
        }
    }
}

@media(min-width: 601px){
    .benefits__icons{
        margin-left: 2rem;
        margin-bottom: 3rem;
    }
}

@media(min-width: 768px){
    .benefits__title{
        h1{
            text-align: center;
        }

        h2{
            text-align: center;
        }
    }

    .benefits__illustration{
        text-align: center;
    }
}

@media(min-width: 1280px){
    .benefits__icons{
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .benefits__content{
        display: grid;
        grid-template-columns: 0.6fr 1fr;

        margin-left: 5rem;
        margin-right: 5rem;
    }

    .benefits__text{
        h3{
            margin-top: 8rem;
        }
    }
}

@media(min-width: 1920px){
    .benefits{
        margin-top: 10rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }
}