.certificate{
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__content{
        h1{
            font-size: 2.2rem;
            font-weight: bolder;
        }
        
        h2{
            font-size: 0.6rem;
            font-weight: bold;
        }

        &-text{
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

    }

    &__example{
        margin-top: 3rem;
    }
}