@use './var';

.courses{

    &__title{

        padding-left: 2rem;

        h1{
            font-size: var.$main-title-size;
            font-weight: bolder;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
        }

        h2{
            font-size: var.$main-subtitle-size;
            font-weight: bold;
        }

        &-button{
            border-color: var.$main-btn-color;
            margin-top: 1rem;
            margin-bottom: 1rem;
            &:hover{
                background-color: var.$main-btn-color;   
                border-color: var.$main-btn-color;
            }

            &:active{
                background-color: var.$main-btn-color;   
                border-color: var.$main-btn-color;
                box-shadow: var.$main-btn-color;
            }

            &:not(:disabled):not(.disabled):active{
                background-color: var.$main-btn-color;   
                border-color: var.$main-btn-color;
            }
        }

    }
    &__carousel{
        &-item{
            margin-top: 1rem;
            margin-bottom: 1rem;

            padding: 1rem 0.6rem;

            box-shadow: 0.2rem 0.4rem rgba($color: #888, $alpha: 0.1);

            img{
                margin-bottom: 1rem;
            }
            
        }

        &-item--course{
            margin-top: 0.6rem;
            font-size: 1.6rem;
            font-weight: bold;
            
        }
    
        &-item--description{
            padding-top: 0.8rem;
            
        }

        &-item--price{
            color: #FF4242;
        }

        &-item--author{
            color: #787A80;
            
        }

        &-item--badge{
            display: inline-block;
            width: 40%;
            color: #fff;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }

        &-item--badge-mkt{
            background-color: #03CEA4;
        }

        &-item--badge-hr{
            background-color: #F89828;
        }

        &-item--badge-manag{
            background-color: #5A87FC;
        }

        &-item--badge-design{
            background-color: #F52F6E;
        }


    }
}

@media(min-width:360px){
    .courses__title{
        
        h2{
            font-size: calc(1.5*var.$main-subtitle-size);
        }

        h1{
            font-size: calc(1.2*var.$main-title-size);
        }
    }

    .courses__carousel-item--badge{
        font-size: 0.8rem;
    }
}

@media(min-width:601px){

    .courses__carousel-item{
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        padding: 0;
        height: 10rem;
    }

    .courses__carousel-item--content{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }

    .courses__carousel-image{
        margin-right: 2rem;
        img{
            margin-bottom: 0;
            height: 100%;
        }
    }

    .courses__carousel-item--badge{
        width: 40%;
    }

}

@media(min-width: 768px){
    .courses__title{
        display: flex;
        justify-content: space-between;
        padding-right: 2rem;
    }

    .courses__carousel-item{
        overflow: hidden;
    }
}

@media(min-width: 961px){
    .courses__carousel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2%;
    }

}

@media(min-width: 1366px){
    .courses{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media(min-width: 1920px){
    .courses__carousel{
        padding-top: 5rem;
    }
}