@use "./var";

.events{
    background: var.$main-background-gradient;

    &__title{
        
        padding-top: 2rem;
        padding-left: 2rem;
        margin-bottom: 2rem;

        h1{
            font-size: var.$main-title-size;
            font-weight: bolder;
        }
        
        h2{
            font-size: var.$main-subtitle-size;
            font-weight: bold;
            margin-bottom: 0.4rem;
        }

    }

    &__item{
        background-color: #fff;
        margin-bottom: 1rem;
        border-radius: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover, &:active{
            box-shadow:0.2rem 0.4rem rgba($color: #f75e05, $alpha: 0.3);
        }
        
        &-date{
            display: grid;
            grid-template-columns: 0.4fr 1fr 0.5fr;
            align-items: flex-end;

            width: 100%;
            margin-top: 0.3rem;   
            padding-left: 0.2rem;
            margin-bottom: 0.6rem;
        }

        &-day{
            font-size: 2rem;
            margin-left: 0.4rem;

            font-weight: bolder;
            color: var.$main-btn-color;
            
        }

        &-month{
            //padding-left: 0.2rem;
            font-size: 1.4rem;
            font-weight: bold;
            display: inline-block;
            
        }

        &-time{
            padding-right: 0.6rem;
            color: var.$secondary-text-color;
            display: inline-block;
            text-align: right;
            
        }

        &-content{
            padding-top: 0.4rem;
            padding-left: 0.6rem;
        }

        &-title{
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 1.2rem;
        }

        &-subtitle{
            color: var.$secondary-text-color;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }

        &-button{
            border-color: var.$main-btn-color;
            

            margin: 0.6rem 4rem;

            &:hover{
                background-color: var.$main-btn-color;   
                border-color: var.$main-btn-color;
            }

            &:active{
                background-color: var.$main-btn-color;   
                border-color: var.$main-btn-color;
                box-shadow: var.$main-btn-color;
            }

            &:not(:disabled):not(.disabled):active{
                background-color: var.$main-btn-color;   
                border-color: var.$main-btn-color;
            }
        }
    }

    &__action{

        padding-bottom: 2rem;
        padding-left: 1rem;

        &-text{
            display: inline-block;

            margin-bottom: 1.6rem;
            font-size: 1.8rem;
            font-weight: bolder;
        }

        &-button{
            background-color: var.$main-btn-color;
            border-color: var.$main-btn-color;

            &:hover{
                background-color: var.$main-btn-color;   
                border-color: var.$main-btn-color;
            }

            &:active{
                background-color: var.$main-btn-color;   
                border-color: var.$main-btn-color;
                box-shadow: var.$main-btn-color;
            }

            &:not(:disabled):not(.disabled):active{
                background-color: var.$main-btn-color;   
                border-color: var.$main-btn-color;
            }
        }
    }

    &__vector{
        position: absolute;
        height: 5rem;
        width: 5rem;
        right: 0%;
        top: 315rem;
        transform: translateX(0.3rem);

        img{
            height: 100%;

            transform: rotate(180deg);
        }
    }
}

@media(min-width: 360px){

    .events__title{
        h1{
            font-size: calc(1.2*var.$main-title-size);
        }

        h2{
            font-size: calc(1.5*var.$main-subtitle-size);
        }
    }

    .events__item{
        padding-bottom: 1rem;
    }

    .events__item-title{
        margin-top: 1rem;
        margin-bottom: 0.6rem;
        line-height: 1.6rem;
    }

    .events__item-date{
        grid-template-columns: 0.3fr 1.1fr 0.4fr;
    }

    .events__item-month{
        transform: translateY(-0.2rem);
    }
}

@media(min-width: 601px){
    .events__item-date{
        grid-template-columns: 0.3fr 2.4fr 0.4fr;
    }

    .events__action{
        margin-top: 3rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media(min-width: 768px){
    .events__action{
        justify-content: space-evenly;
    }
}

@media(min-width: 961px){
    .events__item-date{
        grid-template-columns: 0.2fr 3.2fr 0.4fr;
    }
    
}

@media(min-width: 1280px){
    .events__title{
        text-align: center;
    }

    .events__list{
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .events__item{
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.6fr;
        
        margin-bottom: 3rem;
    }

    .events__item-date{
        grid-template-columns: none;
        grid-template-areas: 
            "day month"
            "day time"
        ;
    }

    .events__item-day{
        grid-area: day;
        font-size: 4rem;
        text-align: center;
    }

    .events__item-month{
        grid-area: month;
        transform: translateY(0.8rem);
    }

    .events__item-time{
        grid-area: time;

        text-align: left;
        transform: translateY(-0.4rem);
    }

    .events__item-button{
        height: 50%;
        align-self: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media(min-width: 1920px){
    .events{
        padding-top: 5rem;

        &__list{
            padding-top: 3rem;
        }

    }
}

@media(min-height:601px){
    .events__vector{
        top: auto;
        transform: translateX(0.3rem) translateY(-8rem);
    }
    
}

@media(min-height:1080px){
    .events__vector{
        top: auto;
        transform: translateX(0.3rem) translateY(-13rem);
    }
    
}
