$main-background-color:  rgba(247, 94, 5, 0.3);
$secondary-background-color: rgba(247, 94, 5, 0.7);
$main-text-color: #1E212C;
$main-header-color: #424551;
$main-btn-color: #FF3F3A;
$secondary-text-color: #787A80;

$secondary-vector-color: #FFCF2D;

$main-title-size: 2.2rem;
$main-subtitle-size: 0.6rem;
